@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 240 5.9% 10%;
		--primary-foreground: 0 0% 98%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 240 5.9% 10%;
		--radius: 0.5rem;
	}

	[data-theme="dark"],
	.dark {
		--background: 221 53% 6%;
		--foreground: 0 0% 98%;
		--card: 228 19% 15%;
		--card-foreground: 0 0% 98%;
		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;
		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		font-family: "Roboto", sans-serif;
		@apply !bg-background;
	}
}

h1 {
	@apply pt-8;
}

:root {
	--shiki-token-keyword: #e30202;
}

.nextra-nav-container {
	@apply !bg-[#070c17] !backdrop-blur-none !backdrop-filter-none;
}
.nx-bg-gray-100 {
	@apply !bg-[#070c17];
}

details {
	@apply !p-4 !bg-background;
}

details > summary > strong {
	@apply !pl-4;
}

nx-bg-dark {
	@apply !bg-[#070c17];
}

h2 {
	@apply border-none;
}

.nextra-nav-container,
.nextra-nav-container-blur {
	@apply !bg-background;
}

.nx-bg-dark {
	@apply !bg-background;
}

:is(html[class~="dark"] .dark\:nx-bg-dark) {
	@apply !bg-background;
}
:is(html[class~="dark"] .dark\:nx-shadow-\[0_-12px_16px_\#111\]) {
	@apply !shadow-none;
}

.nextra-code-block pre {
	@apply !bg-card;
}
details {
	@apply !bg-card;
}
